list is a collection of unordered data

In [1]:
a =[10,3.14,False,"Hello"]

In [2]:
type(a)

list

In [3]:
#indexing

In [6]:
a[3]

'Hello'

In [7]:
a[-1]

'Hello'

In [8]:
a =[10,3.14,False,"Hello",[1,2,3,"Kathmandu"]]

In [9]:
a[-1][-1][-4]

'a'

In [10]:
#slicing
'''
vairable_name[start_pos:end_pos:step_size(optional)]
'''

'\nvairable_name[start_pos:end_pos:step_size(optional)]\n'

In [11]:
a[::2]

[10, False, [1, 2, 3, 'Kathmandu']]

In [12]:
str = "I love you"

In [13]:
str[0] = "u"

TypeError: 'str' object does not support item assignment

In [16]:
str= str.replace('i','u')

In [17]:
str

'I love you'

In [18]:
str = 'u'+str[1:]

In [19]:
str

'u love you'

In [20]:
a

[10, 3.14, False, 'Hello', [1, 2, 3, 'Kathmandu']]

In [21]:
a.append(15)

In [22]:
a

[10, 3.14, False, 'Hello', [1, 2, 3, 'Kathmandu'], 15]

In [23]:
a.extend(['Nepal',50])

In [24]:
a

[10, 3.14, False, 'Hello', [1, 2, 3, 'Kathmandu'], 15, 'Nepal', 50]

In [25]:
x = [10,20,30,40,50]

In [26]:
x.insert(1, 15) #first_parm is position and second_parm is the value to be inserted

In [27]:
x

[10, 15, 20, 30, 40, 50]

In [29]:
x[:2]+[16,17,18]+x[2:]

[10, 15, 16, 17, 18, 20, 30, 40, 50]

In [30]:
x.pop()

50

In [31]:
x.pop(-3)

20

In [32]:
x.remove(40)

In [33]:
x

[10, 15, 30]

In [34]:
x.index(30)

2

In [36]:
x.count(30)

1

In [37]:
x.reverse()

In [38]:
x

[30, 15, 10]

In [39]:
b = a.copy()