In [1]:
def isPalindrome(n):
    x = n
    s = 0
    while n>0:
        r = n%10
        s=s*10+r
        n = n//10
    return x ==s

In [2]:
isPalindrome(101)

True

In [11]:
def isPrime(n):
    for i in range(2,n):
        if n%i==0:
            return False
    return True

In [12]:
isPrime(13)

True

In [13]:
isPrime(2)

True

In [15]:
#Lambda Expression

In [16]:
a = lambda x,y:x+y

In [17]:
a(10,5)

15

In [20]:
b=lambda n:True if n%2 ==0 else False

In [22]:
b(4)

True

In [28]:
n = [i**2 for i in range(1,21)]

In [29]:
n

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [31]:
x = [i for i in range(1,101) if i%3==0]

In [32]:
x

[3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [34]:
x = ['E' if i%2==0 else 'o' for i in range(1,20)]

In [35]:
x

['o',
 'E',
 'o',
 'E',
 'o',
 'E',
 'o',
 'E',
 'o',
 'E',
 'o',
 'E',
 'o',
 'E',
 'o',
 'E',
 'o',
 'E',
 'o']

In [36]:
x = [i*j for i in range(1,11) for j in range(1,11)]

In [37]:
x

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81,
 90,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100]